@font-face {
    src: url("https://github.com/rastikerdar/vazirmatn/raw/master/fonts/ttf/Vazirmatn-Regular.ttf");
    font-family: "vazirmatn"
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
}
